body{
    margin: 0 auto;
}
header{
    background-color: rgb(28, 1, 54);
    display: flex;
    text-align: center;
    padding: 1px;
    justify-content: space-between; /* só funciona com display flex(serve para dar espaçamento nos butões)*/
}       
.box_titulo{
    color: #fff;
    border-radius: 15px;
    text-align: center;
    padding: 5px 20px;
}
.box_ordenar button{
    padding: 20px 20px;
    text-align: center;
    background-color: rgb(64, 49, 49);
    color: white;
    border-radius: 10px;
    font-size: 20px;

}
.box_categoria button{
    background-color: rgb(64, 49, 49);
    padding: 20px 20px;
    text-align: center;
    color: white;
    border-radius: 10px;
    font-size: 20px;
}
.box_categoria{
    display: flex;
    align-items: center;

}
.box_ordenar{
    display: flex;
    align-items: center;
}